.body,.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.body{
    z-index: 1;
}

.wrapper{
    z-index: 2;
}

#board{
    background-color: silver;
    height: 700px;
    width: 700px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.score{
    font-size: 2.5em;
}

.canvas{
    margin-left: 50px;
}

.scoreboard{
    margin-left: 50px;
    z-index: 3;
}

#speed-tab{
    text-align: center;
    width: 150px;
    padding: 5px;
    margin-top: 5px;
    font-size: 1.5em;
    background-color: wheat;
    font-style: none;
    border-radius: 5px;
    text-align: center;
    float: right;
    margin-right: 50px;
    z-index: 3;
}

a{
    text-decoration: none;
    color: black;
}