#board{
    background-color: silver;
    height: 700px;
    width: 700px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.score{
    font-size: 2.5em;
}

.canvas{
    margin-left: 50px;
}

.scoreboard{
    margin-left: 50px;
}

#speed-tab{
    text-align: center;
    width: 120px;
    padding: 5px;
    font-size: 2.0em;
    background-color: wheat;
    font-style: none;
    text-align: center;
    float: right;
    margin-right: 50px;
}

a{
    text-decoration: none;
    color: black;
}